@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold md:text-5xl;
  }

  h2 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h3 {
    @apply text-xl font-bold md:text-3xl;
  }

  h4 {
    @apply text-lg font-bold;
  }

  body {
    @apply text-sm md:text-base;
  }

  .layout {
    @apply max-w-6xl mx-auto px-5 w-full;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
